<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqZM_keKzIFu6oevKinorGrKi7k8Auz7A</string>
	<key>GCM_SENDER_ID</key>
	<string>675281183231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guhhsle.relayered</string>
	<key>PROJECT_ID</key>
	<string>relayered-39</string>
	<key>STORAGE_BUCKET</key>
	<string>relayered-39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675281183231:ios:d72b704471f68f911f47ca</string>
</dict>
</plist>
